Package: longest-word
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: MaximKrukov <maximdaa03@yandex.ru>
Description: Программа для нахождения самых длинных слов в предложении
